form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input[type="text"] {
    height: 30px;
    width: 300px;
    padding: 0 20px;
    font-size: 18px;
}
form input[type="submit"] {
    border: none;
    height: 35px;
    width: 35px;
    background-color: grey;
    cursor: pointer;
}
